code {
    font-size: 87.5%;
    color: #0076ff;
    word-break: break-word;
    background-color: #82bbfd;
    padding: .1rem .2rem;
    border-radius: .2rem;
}
.card-text {
    line-height: 1.2rem !important;
    display: block;
}
img {
    display: inline-block;
    margin-top: -.1rem;
}